<div class="container">
  <div class="row">
    <div class="col-md-1 mx-auto">
      <h1>商品一覧</h1>
      <%= link_to icon("fa-light fa-plus-large"), new_admin_item_path, class: "float-right" %>

    </div>
  </div>
</div>