<div class="container">

  <div class="row">
    <div class="mt-5">
      <h5 class="p-3 mb-2 bg-secondary text-black">管理者ログイン</h5>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto col-md-9">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %>
      </div>
      <% end %>
    </div>
  </div>
</div>