<div class="container">
  <div class="row">
    <div class="col-md-8 mt-5">
      <h5 class="p-3 mb-2 bg-light text-dark"><%= @customer.full_name %>さんの会員詳細</h5>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto col-md-12 mt-3">
      <table class="table table-borderless">
        <tr>
          <td class="col-md-2">会員ID</td>
          <td><%= @customer.id %></td>
        </tr>

      </table>
    </div>
  </div>
</div>